.calculator-body{
    background-color: black;
    border-radius: 20px;
    height: 575px;
    width: 500px;
    margin: 10px;
}
.cal-buttons{
    padding-top: 2px;
}

#result-cal{
    height: 200px;
    margin-bottom: 15px;
    margin-top: 0px;
}

.row , .col{
    padding: 10px;
}

.row{
    background-color:gainsboro ;
    border-radius: 19px;
    margin: 3px;
}

.col{
    background-color:brown ;
    margin: 5px;
    border-radius: 40px;
}

.col-12{
    background-color:darkcyan ;
    margin: 1px;
    border-radius: 20px;
}




