.calculator-body{
    background-color: black;
    border-radius: 20px;
    height: 620px;
    width: 500px;
    margin: 10px;
}
.cal-buttons{
    padding-top: 56px;
}

.result-cal{
    height: 200px;
}

.row , .col{
    padding: 10px;
}

.row{
    background-color:aqua ;
    border-radius: 19px;
    margin: 2px;
}

.col{
    background-color:brown ;
    margin: 5px;
    border-radius: 20px;
}

.col-12{
    background-color:darkcyan ;
    margin: 1px;
    border-radius: 20px;
}


