.calculator-body{
    background-color: rgb(111, 109, 109);
    border-radius: 20px;
    height: 656px;
    width: 500px;
    margin: 10px;
}
.cal-buttons{
    padding-top: 2px;
}

#display{
    height: 200px;
    margin-bottom: 15px;
    margin-top: 0px;
}

.row , .col{
    padding: 10px;
}

.row{
    /* background-color:gainsboro ; */
    border-radius: 19px;
    margin: 3px;
}

.col{
    /* background-color:brown ; */
    margin: 5px;
    border-radius: 40px;
}

.col-12{
    background-color:rgb(201, 200, 200) ;
    margin: 1px;
    border-radius: 20px;
    
}


.button{
    width: 50px;
    border-radius: 35px;
    height: 40px;
    background-color: rgb(133, 66, 133);
    border: none;
    box-shadow: 2px 4px 5px rgba(192, 190, 190, 0.6);
}



